body{
    background-color: white;
}
.tag{
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    max-width: 12.1rem;
    border-radius: 24.4rem;
    gap: 0.8rem;
    padding: 6px 4px;
    .icon{
        background: rgba(194, 0, 1, 0.15);
        border-radius: 24.4rem;
        @include centerTotalFlex; // include the mixing center center (flex)
        width: 100%;
        max-width: 2.6rem;
        height: 2.6rem;
        img{
            width: 16px;
            height: 24px;
        }
    }
    span{
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #C20001;
    }
    &.blue-tag{ // for the variation with blue color
        .icon{
            background: rgba(63, 103, 186, 0.15);
        }
        span{
            color: #3F67BA;
        }
    }
}
.search{
    background: #FFFFFF;
    border-radius: 12.2rem;
    height: 5.6rem;
    width: 100%;
    max-width: 40.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.8rem;
    input[type=text]{
        border: none;
        font-size: 1.5rem;
        line-height: 150%;
        color: #A0AFBA;
        outline: none;
        width: 80%;
        &::placeholder{
            color: #A0AFBA;
        }
    }
    button{
        width: 4.2rem;
        height: 4.2rem;
        background: rgba(158, 185, 225, 0.1);
        border-radius: 12.2rem;
        @include centerTotalFlex;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color .3s;
        &:hover{
            border: 1px solid #3E75C3;
        }
    }
    border: 1px solid transparent;
    transition: border-color .3s;
    &:hover{
        border: 1px solid #3E75C3;
    }
}
.type-filter{
    display: flex;
    gap: 0.5rem;
    @include centerTotalFlex;
    // DEFAULT CONFIGURATION FOR THE TAGS   
    // put the component in black and white tons
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;
    &:hover{
        filter: grayscale(0%);
        opacity: 1;
    }
    .icon{
        // creating the mask for icon
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
    }
    span{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }  
    // for all tags variations of colors in the span
    &.ghost{
        span{
            color: #616EB7;
        }
    }
    &.bug{
        span{
            color: #9BBA48;
        }
    }
    &.dark{
        span{
            color: #595761;
        }
    }
    &.dragon{
        span{
            color: #2C6AC1;
        }
    }
    &.eletric{
        span{
            color: #D5BC34;
        }
    }
    &.fairy{
        span{
            color: #E296E1;
        }
    }
    &.fighting{
        span{
            color: #C44D61;
        }
    }
    &.ground{
        span{
            color: #CE8056;
        }
    }
    &.ice{
        span{
            color: #71BAAC;
        }
    }
    &.normal{
        span{
            color: #919191;
        }
    }
    &.poison{
        span{
            color: #AC6ACA;
        }
    }
    &.psychic{
        span{
            color: #EB8B85;
        }
    }
    &.rock{
        span{
            color: #84BEB3;
        }
    }
    &.grass{
        span{
            color: #73B861;
        }
    }
    &.steal{
        span{
            color: #6594A1;
        }
    }
    &.water{
        span{
            color: #4F77BE;
        }
    }
    &.fire{
        span{
            color: #E96303;
        }
    }
    &.flying{
        span{
            color: #758CBD;
        }
    }
    &.rock{
        span{
            color: #84BEB3;
        }
    }
}
.card-pokemon{
    width: 100%;
    max-width: 28rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    border-radius: 1.2rem;
    height: 30.4rem;
    padding: 13px 40px 24px 40px;
    position: relative;
    z-index: 1;
    .image{
        position: relative;
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        padding: 1.8rem;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 14px;
        // create specific background color for each class of pokemon
        &:after{
            content: "";
            width: 16.5rem;
            height: 16.5rem;
            background-color: transparent;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }
    }
    .info{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 21.8rem;
        .text{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            span{
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 150%;
                color: #7A7D80;
                margin-bottom: 6px;
                display: block;
                text-align: left;
            }   
        }
        .icon{
            width: 2.8rem;
            height: 2.8rem;
            @include centerTotalFlex;
            margin-bottom: 1rem;
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.ghost{
        .image{
            &:after{
                background-color: rgba(97, 110, 183, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }

}