.tag{
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    max-width: 12.1rem;
    border-radius: 24.4rem;
    gap: 0.8rem;
    padding: 6px 4px;
    .icon{
        background: rgba(194, 0, 1, 0.15);
        border-radius: 24.4rem;
        @include centerTotalFlex; // include the mixing center center (flex)
        width: 100%;
        max-width: 2.6rem;
        height: 2.6rem;
        img{
            width: 16px;
            height: 24px;
        }
    }
    span{
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #C20001;
    }
    &.blue-tag{ // for the variation with blue color
        .icon{
            background: rgba(63, 103, 186, 0.15);
        }
        span{
            color: #3F67BA;
        }
    }
}
.search{
    background: #FFFFFF;
    border-radius: 12.2rem;
    height: 5.6rem;
    width: 100%;
    max-width: 40.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.8rem;
    input[type=text]{
        border: none;
        font-size: 1.5rem;
        line-height: 150%;
        color: #A0AFBA;
        outline: none;
        width: 80%;
        &::placeholder{
            color: #A0AFBA;
        }
    }
    button{
        width: 4.2rem;
        height: 4.2rem;
        background: rgba(158, 185, 225, 0.1);
        border-radius: 12.2rem;
        @include centerTotalFlex;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color .3s;
        &:hover{
            border: 1px solid #3E75C3;
        }
    }
    border: 1px solid transparent;
    transition: border-color .3s;
    &:hover{
        border: 1px solid #3E75C3;
    }
}
.type-filter{
    display: flex;
    gap: 0.5rem;
    @include centerTotalFlex;
    // DEFAULT CONFIGURATION FOR THE TAGS   
    // put the component in black and white tons
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;
    &:hover{
        filter: grayscale(0%);
        opacity: 1;
    }
    .icon{
        // creating the mask for icon
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
    }
    span{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }  
    // for all tags variations of colors in the span
    &.ghost{
        span{
            color: var(--type-ghost);
        }
    }
    &.bug{
        span{
            color: var(--type-bug);
        }
    }
    &.dark{
        span{
            color: var(--type-dark);
        }
    }
    &.dragon{
        span{
            color: var(--type-dragon);
        }
    }
    &.eletric{
        span{
            color: var(--type-electric);
        }
    }
    &.fairy{
        span{
            color: var(--type-fairy);
        }
    }
    &.fighting{
        span{
            color: var(--type-fighting);
        }
    }
    &.ground{
        span{
            color: var(--type-ground);
        }
    }
    &.ice{
        span{
            color: var(--type-ice);
        }
    }
    &.normal{
        span{
            color: var(--type-normal);
        }
    }
    &.poison{
        span{
            color: var(--type-poison);
        }
    }
    &.psychic{
        span{
            color: var(--type-psychic);
        }
    }
    &.rock{
        span{
            color: var(--type-rock);
        }
    }
    &.grass{
        span{
            color: var(--type-grass);
        }
    }
    &.steal{
        span{
            color: var(--type-steal);
        }
    }
    &.water{
        span{
            color: var(--type-water);
        }
    }
    &.fire{
        span{
            color: var(--type-fire);
        }
    }
    &.flying{
        span{
            color: var(--type-flying);
        }
    }
}
.card-pokemon{
    width: 100%;
    max-width: 28rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    border-radius: 1.2rem;
    height: 30.4rem;
    padding: 13px 40px 24px 40px;
    position: relative;
    z-index: 1;
    transition: all .3s;
    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
        
    }
    .image{
        position: relative;
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        padding: 1.8rem;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 14px;
        // create specific background color for each class of pokemon
        &:after{
            content: "";
            width: 16.5rem;
            height: 16.5rem;
            background-color: transparent;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }
    }
    .info{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 21.8rem;
        .text{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            span{
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 150%;
                color: #7A7D80;
                margin-bottom: 6px;
                display: block;
                text-align: left;
            }   
        }
        .icon{
            width: 2.8rem;
            height: 2.8rem;
            @include centerTotalFlex;
            margin-bottom: 1rem;
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.ghost{
        .image{
            &:after{
                background-color: rgba(97, 110, 183, 0.2);
            }
        }
    }
    &.bug{
        .image{
            &:after{
                background-color: rgba(156, 186, 72, 0.2);
            }
        }
    }
    &.dark{
        .image{
            &:after{
                background-color: rgba(89, 87, 97, 0.2);
            }
        }
    }
    &.dragon{
        .image{
            &:after{
                background-color: rgba(44, 106, 193, 0.2);
            }
        }
    }
    &.eletric{
        .image{
            &:after{
                background-color: rgba(213, 189, 52, 0.2);
            }
        }
    }
    &.fairy{
        .image{
            &:after{
                background-color: rgba(226, 150, 225, 0.2);
            }
        }
    }
    &.fighting{
        .image{
            &:after{
                background-color: rgba(196, 77, 97, 0.2);
            }
        }
    }
    &.ground{
        .image{
            &:after{
                background-color: rgba(206, 128, 86, 0.2);
            }
        }
    }
    &.ice{
        .image{
            &:after{
                background-color: rgba(113, 186, 171, 0.2);
            }
        }
    }
    &.normal{
        .image{
            &:after{
                background-color: rgba(145, 145, 145, 0.2);
            }
        }
    }
    &.poison{
        .image{
            &:after{
                background-color: rgba(172, 106, 202, 0.2);
            }
        }
    }
    &.psychic{
        .image{
            &:after{
                background-color: rgba(235, 140, 133, 0.2);
            }
        }
    }
    &.rock{
        .image{
            &:after{
                background-color: rgba(132, 190, 179, 0.2);
            }
        }
    }
    &.steal{
        .image{
            &:after{
                background-color: rgba(101, 148, 161, 0.2);
            }
        }
    }
    &.water{
        .image{
            &:after{
                background-color: rgba(79, 120, 190, 0.2);
            }
        }
    }
    &.fire{
        .image{
            &:after{
                background-color: rgba(233, 99, 3, 0.2);
            }
        }
    }
    &.flying{
        .image{
            &:after{
                background-color: rgba(117, 140, 189, 0.2);
            }
        }
    }

}
.tag-type{
    display: inline-block;
    padding: 0rem 2.5rem;
    line-height: 2.4rem;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.01em;
    // for all tags variations of colors in the span
    &.ghost{
        color: var(--type-ghost);
        background-color: rgba(97, 110, 183, 0.1);
    }
    &.bug{
        color: var(--type-bug);
        background-color: rgba(155, 186, 72, 0.1);
    }
    &.dark{
        color: var(--type-dark);
        background-color: rgba(89, 87, 97, 0.1);
    }
    &.dragon{
        color: var(--type-dragon);
        background-color: rgba(44, 106, 193, 0.1);
    }
    &.eletric{
        color: var(--type-electric);
        background-color: rgba(238, 217, 103, 0.1);
    }
    &.fairy{
        color: var(--type-fairy);
        background-color: rgba(226, 150, 225, 0.1);
    }
    &.fighting{
        color: var(--type-fighting);
        background-color: rgba(196, 77, 97, 0.1);
    }
    &.ground{
        color: var(--type-ground);
        background-color: rgba(206, 128, 86, 0.1);
    }
    &.ice{
        color: var(--type-ice);
        background-color: rgba(139, 206, 193, 0.1);
    }
    &.normal{
        color: var(--type-normal);
        background-color: rgba(160, 162, 159, 0.1);
    }
    &.poison{
        color: var(--type-poison);
        background-color: rgba(172, 106, 202, 0.1);
    }
    &.psychic{
        color: var(--type-psychic);
        background-color: rgba(235, 139, 133, 0.1);
    }
    &.rock{
        color: var(--type-rock);
        background-color: rgba(139, 206, 193, 0.1);
    }
    &.grass{
        color: var(--type-grass);
        background-color: rgba(92, 164, 138, 0.1);
    }
    &.steal{
        color: var(--type-steal);
        background-color: rgba(101, 148, 161, 0.1);
    }
    &.water{
        color: var(--type-water);
        background-color: rgba(136, 163, 212, 0.1);
    }
    &.fire{
        color: var(--type-fire);
        background-color: rgba(233, 99, 3, 0.1);
    }
    &.flying{
        color: var(--type-flying);
        background-color: rgba(166, 187, 232, 0.1);
    }
}
.btn-load-more{
    background: rgba(63, 93, 179, 0.1);
    border-radius: 6px;
    padding: 1.4rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.01em;
    color: #3F5DB3;
    transition: all .3s;
    &:hover{
        background-color: #3F5DB3;
        color: white;
    }
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2022;
    // change background type based on the type functionality modal
    &[type-pokemon-modal="grass"]{
        .box{
            .left-container{
                background: url("../img/bg-types/grass.svg");
            }
        } 
    }
    &[type-pokemon-modal="grass"]{
        .box{
            .left-container{
                background: url("../img/bg-types/grass.svg");
            }
        } 
    }
    &[type-pokemon-modal="bug"]{
        .box{
            .left-container{
                background: url("../img/bg-types/bug.svg");
            }
        } 
    }
    &[type-pokemon-modal="dark"]{
        .box{
            .left-container{
                background: url("../img/bg-types/dark.svg");
            }
        } 
    }
    &[type-pokemon-modal="dragon"]{
        .box{
            .left-container{
                background: url("../img/bg-types/dragon.svg");
            }
        } 
    }
    &[type-pokemon-modal="electric"]{
        .box{
            .left-container{
                background: url("../img/bg-types/electric.svg");
            }
        } 
    }
    &[type-pokemon-modal="fairy"]{
        .box{
            .left-container{
                background: url("../img/bg-types/fairy.svg");
            }
        } 
    }
    &[type-pokemon-modal="steal"]{
        .box{
            .left-container{
                background: url("../img/bg-types/steal.svg");
            }
        } 
    }
    &[type-pokemon-modal="fighting"]{
        .box{
            .left-container{
                background: url("../img/bg-types/fighting.svg");
            }
        } 
    }
    &[type-pokemon-modal="ground"]{
        .box{
            .left-container{
                background: url("../img/bg-types/ground.svg");
            }
        } 
    }
    &[type-pokemon-modal="ice"]{
        .box{
            .left-container{
                background: url("../img/bg-types/ice.svg");
            }
        } 
    }
    &[type-pokemon-modal="normal"]{
        .box{
            .left-container{
                background: url("../img/bg-types/normal.svg");
            }
        } 
    }
    &[type-pokemon-modal="poison"]{
        .box{
            .left-container{
                background: url("../img/bg-types/poison.svg");
            }
        } 
    }
    &[type-pokemon-modal="psychic"]{
        .box{
            .left-container{
                background: url("../img/bg-types/psychic.svg");
            }
        } 
    }
    &[type-pokemon-modal="rock"]{
        .box{
            .left-container{
                background: url("../img/bg-types/rock.svg");
            }
        } 
    }
    &[type-pokemon-modal="ghost"]{
        .box{
            .left-container{
                background: url("../img/bg-types/ghost.svg");
            }
        } 
    }
    &[type-pokemon-modal="water"]{
        .box{
            .left-container{
                background: url("../img/bg-types/water.svg");
            }
        } 
    }
    &[type-pokemon-modal="fire"]{
        .box{
            .left-container{
                background: url("../img/bg-types/fire.svg");
            }
        } 
    }
    &[type-pokemon-modal="flying"]{
        .box{
            .left-container{
                background: url("../img/bg-types/flying.svg");
            }
        } 
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0; // menor dentro do modal
        background-color: rgba(0, 0, 0, 0.5);
    }
    .box{
        position: relative;
        width: 100%;
        max-width: 71rem;
        height: 50.8rem;
        background-color: #ffffff;
        z-index: 1;
        box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
        border-radius: 16px;  
        display: flex;
        transform: translateY(4rem);
        transition: transform .3s ease-in;
        
        .close{
            position: absolute;
            top: -44px;
            right: 0;
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            border-radius: 8px;
            @include centerTotalFlex; // mixin
            transition: all .3s;
            &:hover{
                background: rgba(255, 255, 255, 0.92);
            }
        }
        .left-container{
            position: relative;
            width: 100%;
            max-width: 19.1rem;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            .icon{
                position: absolute;
                width: 3.4rem;
                height: 3.4rem;
                background-color: #FFFFFF;
                border-radius: 50%;
                @include centerTotalFlex;
                top: 20px;
                right: 20px;
            }
            .image{
                position: absolute;
                left: 1.4rem;
                bottom: 13.8rem;
                width: 20.2rem;
                img{
                    width: 100%;
                }
            }
        }
        .right-container{
            padding: 3.5rem 5rem 3.5rem 7.4rem;
            width: 100%;
            .name{
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                margin-bottom: 1rem;
                span{
                    font-family: 'Montserrat', sans-serif;
                    margin-left: 8px;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 20px;
                    letter-spacing: -0.01em;
                    color: #7A7D80;
                    padding-bottom: 8px;
                }
            }
            .type{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                flex-wrap: wrap;
                margin-bottom: 2.5rem;
            }
            .info{
                display: flex;
                gap: 4.8rem;
                width: 100%;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-bottom: 2.5rem;
                li{
                    span{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 1.6rem;
                        letter-spacing: -0.01em;
                        color: #7A7D80;
                        display: block;
                        margin-bottom: 0.4rem;
                    }
                    strong{
                        font-family: 'Montserrat';
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        letter-spacing: -0.01em;
                        color: #2F3133;
                    }
                }
            }
            .weak{
                margin-bottom: 2.5rem;
                h4{
                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    color: #4D5053;
                    margin-bottom: 1.6rem;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1rem;
                }
            }
            .stats{
                h5{
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    color: #4D5053;
                    margin-bottom: 1.6rem;
                }
                .all{
                    .item{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:not(:last-child){
                            margin-bottom: 1.3rem;
                        }
                        span{
                            display: block;
                            width: 100%;
                            max-width: 6.8rem;
                            font-size: 1.2rem;
                            line-height: 1.5rem;
                            color: #7A7D80;
                        }  
                        .bar-status{
                            position: relative;
                            width: 100%;
                            max-width: 28.3rem;
                            height: 0.3rem;
                            background-color: #EFF3F6;
                            // this will be the red part
                            .bar{
                                width: 56%; // get from API
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: #C20001;
                            }
                            //this will be the white part (separator)
                            .separator{
        
                            }
                        } 
                        
                    }
                }
                
            }
        }
    }

}