body{
    background-color: white;
}
.tag{
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    max-width: 12.1rem;
    border-radius: 24.4rem;
    gap: 0.8rem;
    padding: 6px 4px;
    .icon{
        background: rgba(194, 0, 1, 0.15);
        border-radius: 24.4rem;
        @include centerTotalFlex; // include the mixing center center (flex)
        width: 100%;
        max-width: 2.6rem;
        height: 2.6rem;
        img{
            width: 16px;
            height: 24px;
        }
    }
    span{
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #C20001;
    }
    &.blue-tag{ // for the variation with blue color
        .icon{
            background: rgba(63, 103, 186, 0.15);
        }
        span{
            color: #3F67BA;
        }
    }
}
.search{
    background: #FFFFFF;
    border-radius: 12.2rem;
    height: 5.6rem;
    width: 100%;
    max-width: 40.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.8rem;
    input[type=text]{
        border: none;
        font-size: 1.5rem;
        line-height: 150%;
        color: #A0AFBA;
        outline: none;
        width: 80%;
        &::placeholder{
            color: #A0AFBA;
        }
    }
    button{
        width: 4.2rem;
        height: 4.2rem;
        background: rgba(158, 185, 225, 0.1);
        border-radius: 12.2rem;
        @include centerTotalFlex;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color .3s;
        &:hover{
            border: 1px solid #3E75C3;
        }
    }
    border: 1px solid transparent;
    transition: border-color .3s;
    &:hover{
        border: 1px solid #3E75C3;
    }
}
.type-filter{
    display: flex;
    gap: 0.5rem;
    @include centerTotalFlex;
    // DEFAULT CONFIGURATION FOR THE TAGS   
    // put the component in black and white tons
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;
    &:hover{
        filter: grayscale(0%);
        opacity: 1;
    }
    .icon{
        // creating the mask for icon
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
    }
    span{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }  
    // for all tags variations of colors in the span
    &.ghost{
        span{
            color: #616EB7;
        }
    }
    &.bug{
        span{
            color: #9BBA48;
        }
    }
    &.dark{
        span{
            color: #595761;
        }
    }
    &.dragon{
        span{
            color: #2C6AC1;
        }
    }
    &.eletric{
        span{
            color: #D5BC34;
        }
    }
    &.fairy{
        span{
            color: #E296E1;
        }
    }
    &.fighting{
        span{
            color: #C44D61;
        }
    }
    &.ground{
        span{
            color: #CE8056;
        }
    }
    &.ice{
        span{
            color: #71BAAC;
        }
    }
    &.normal{
        span{
            color: #919191;
        }
    }
    &.poison{
        span{
            color: #AC6ACA;
        }
    }
    &.psychic{
        span{
            color: #EB8B85;
        }
    }
    &.rock{
        span{
            color: #84BEB3;
        }
    }
    &.grass{
        span{
            color: #73B861;
        }
    }
    &.steal{
        span{
            color: #6594A1;
        }
    }
    &.water{
        span{
            color: #4F77BE;
        }
    }
    &.fire{
        span{
            color: #E96303;
        }
    }
    &.flying{
        span{
            color: #758CBD;
        }
    }
    &.rock{
        span{
            color: #84BEB3;
        }
    }
}
.card-pokemon{
    width: 100%;
    max-width: 28rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    border-radius: 1.2rem;
    height: 30.4rem;
    padding: 13px 40px 24px 40px;
    position: relative;
    z-index: 1;
    transition: all .3s;
    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
        
    }
    .image{
        position: relative;
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        padding: 1.8rem;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 14px;
        // create specific background color for each class of pokemon
        &:after{
            content: "";
            width: 16.5rem;
            height: 16.5rem;
            background-color: transparent;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }
    }
    .info{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 21.8rem;
        .text{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            span{
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 150%;
                color: #7A7D80;
                margin-bottom: 6px;
                display: block;
                text-align: left;
            }   
        }
        .icon{
            width: 2.8rem;
            height: 2.8rem;
            @include centerTotalFlex;
            margin-bottom: 1rem;
        }
    }
    &.grass{
        .image{
            &:after{
                background-color: rgba(114, 184, 97, 0.2);
            }
        }
    }
    &.ghost{
        .image{
            &:after{
                background-color: rgba(97, 110, 183, 0.2);
            }
        }
    }
    &.bug{
        .image{
            &:after{
                background-color: rgba(156, 186, 72, 0.2);
            }
        }
    }
    &.dark{
        .image{
            &:after{
                background-color: rgba(89, 87, 97, 0.2);
            }
        }
    }
    &.dragon{
        .image{
            &:after{
                background-color: rgba(44, 106, 193, 0.2);
            }
        }
    }
    &.eletric{
        .image{
            &:after{
                background-color: rgba(213, 189, 52, 0.2);
            }
        }
    }
    &.fairy{
        .image{
            &:after{
                background-color: rgba(226, 150, 225, 0.2);
            }
        }
    }
    &.fighting{
        .image{
            &:after{
                background-color: rgba(196, 77, 97, 0.2);
            }
        }
    }
    &.ground{
        .image{
            &:after{
                background-color: rgba(206, 128, 86, 0.2);
            }
        }
    }
    &.ice{
        .image{
            &:after{
                background-color: rgba(113, 186, 171, 0.2);
            }
        }
    }
    &.normal{
        .image{
            &:after{
                background-color: rgba(145, 145, 145, 0.2);
            }
        }
    }
    &.poison{
        .image{
            &:after{
                background-color: rgba(172, 106, 202, 0.2);
            }
        }
    }
    &.psychic{
        .image{
            &:after{
                background-color: rgba(235, 140, 133, 0.2);
            }
        }
    }
    &.rock{
        .image{
            &:after{
                background-color: rgba(132, 190, 179, 0.2);
            }
        }
    }
    &.steal{
        .image{
            &:after{
                background-color: rgba(101, 148, 161, 0.2);
            }
        }
    }
    &.water{
        .image{
            &:after{
                background-color: rgba(79, 120, 190, 0.2);
            }
        }
    }
    &.fire{
        .image{
            &:after{
                background-color: rgba(233, 99, 3, 0.2);
            }
        }
    }
    &.flying{
        .image{
            &:after{
                background-color: rgba(117, 140, 189, 0.2);
            }
        }
    }
    &.rock{
        .image{
            &:after{
                background-color: rgba(132, 190, 179, 0.2);
            }
        }
    }

}
.tag-type{
    display: inline-block;
    padding: 0rem 2.5rem;
    line-height: 2.4rem;
    border-radius: 0.2rem;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.01em;
    // for all tags variations of colors in the span
    &.ghost{
        color: #616EB7;
        background-color: rgba(97, 110, 183, 0.1);
    }
    &.bug{
        color: #9BBA48;
        background-color: rgba(155, 186, 72, 0.1);
    }
    &.dark{
        color: #595761;
        background-color: rgba(89, 87, 97, 0.1);
    }
    &.dragon{
        color: #2C6AC1;
        background-color: rgba(44, 106, 193, 0.1);
    }
    &.eletric{
        color: #D5BC34;
        background-color: rgba(238, 217, 103, 0.1);
    }
    &.fairy{
        color: #E296E1;
        background-color: rgba(226, 150, 225, 0.1);
    }
    &.fighting{
        color: #C44D61;
        background-color: rgba(196, 77, 97, 0.1);
    }
    &.ground{
        color: #CE8056;
        background-color: rgba(206, 128, 86, 0.1);
    }
    &.ice{
        color: #71BAAC;
        background-color: rgba(139, 206, 193, 0.1);
    }
    &.normal{
        color: #919191;
        background-color: rgba(160, 162, 159, 0.1);
    }
    &.poison{
        color: #AC6ACA;
        background-color: rgba(172, 106, 202, 0.1);
    }
    &.psychic{
        color: #EB8B85;
        background-color: rgba(235, 139, 133, 0.1);
    }
    &.rock{
        color: #84BEB3;
        background-color: rgba(139, 206, 193, 0.1);
    }
    &.grass{
        color: #73B861;
        background-color: rgba(92, 164, 138, 0.1);
    }
    &.steal{
        color: #6594A1;
        background-color: rgba(101, 148, 161, 0.1);
    }
    &.water{
        color: #4F77BE;
        background-color: rgba(136, 163, 212, 0.1);
    }
    &.fire{
        color: #E96303;
        background-color: rgba(233, 99, 3, 0.1);
    }
    &.flying{
        color: #758CBD;
        background-color: rgba(166, 187, 232, 0.1);
    }
    &.rock{
        color: #84BEB3;
        background-color: rgba(139, 206, 193, 0.1);
    }
}