.s-area-slide-hero{
    position: relative;
    width: 100%;
    height: 99.4rem;
    // class that holds all slides
    .slide-hero{
        height: 100%;
        width: 100%;
        overflow: hidden; // esconder barra de rolagem
        .swiper-slide{
            &.blue{ // to personalize the background
                .main-area{
                    background: url("../img/bg-blue.svg") no-repeat center center;
                    width: 100%;
                    height: 70.6rem;
                    background-size: cover;
                    .text{
                        .image{
                            .pokeball{
                                position: relative;
                                left: 1.3rem;
                                top: -6.5rem;

                            }
                        }
                    }
                    .area-explore{
                        .txt{
                            .icon{
                                background: rgba(175, 192, 227, 0.3);
                            }
                        }
                    }
                }
            }
            .main-area{
                background: url("../img/bg-red.svg") no-repeat center center;
                width: 100%;
                height: 70.6rem;
                background-size: cover;
                padding-top: 13.3rem;
                position: relative;
                .container{
                    position: relative; // align inside container
                    height: 100%;
                }
                .text{
                    .tag{
                        margin: 0 auto;
                    }
                    h1{
                        margin-top: 2.9rem;
                        text-align: center;
                    }
                    p{
                        margin-top: 0.8rem;
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 150%;
                        text-align: center;
                        color: #FFFFFF;
                    }
                    .image{
                        position: relative;
                        width: 100%;
                        max-width: 79.8rem; // max width
                        margin: 0 auto;
                        .lights{
                            position: absolute;
                            top: -50px;
                            left: 50%;
                            margin-left: -8.5rem; // largura da imagem divido por 2
                        }
                        z-index: 1;
                        margin-top: 12.2rem;
                    }
                }
                .area-explore{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 8rem;
                    z-index: 10;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    .txt{
                        position: relative;
                        display: flex;
                        align-items: center;
                        left: 2rem;
                        gap: 3.5rem;
                        flex-direction: column-reverse;
                        .icon{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #C90C0C;
                        }
                        span{
                            display: block;
                            font-family: 'Inter';
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 150%;
                            color: #FFFFFF;
                            transform: rotate(-90deg);
                        }
                    }
                    .swiper-pagination{
                        position: relative;
                        .swiper-pagination-bullet{
                            width: 7px;
                            height: 7px;
                            background: #FFFFFF;
                            opacity: 0.5;
                            cursor: pointer;
                            &:not(:first-child){
                                margin-left: 0.6rem;
                            }
                            &-active{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            // after to avoid show the background during the fade effect of the slide
            // because the content from the other slide would still show up in the main page or main slide
            &::after{
                content: "";
                width: 100%;
                height: 28.8rem;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #EFF3F6;
                background-size: cover;
                z-index: 0;
                pointer-events: none;
            }
        }
        
    }
}
.s-all-info-pokemons{
    position: relative;
    padding-top: 11.9rem;
    margin-top: -288px; // this is how you will put the section up (avoid the shadow of the slides)
    z-index: 2000;
    .container{
        .top{
            padding-bottom: 7.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                width: 100%;
                max-width: 26.5rem;
            }
            .search{
                margin-top: 2.2rem;
            }
        }
        .area-all{
            display: flex;
            justify-content: space-between;
            .left-container{
                border-right: 1px solid #EFF3F6;
                width: 100%;
                max-width: 32.9rem;
                padding-top: 7.1rem;
                ul{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 4rem;
                    flex-direction: column;
                }
            }
            .right-container{
                width: 100%;
                padding-left: 7.5rem;
                padding-bottom: 8.8rem;
                .top-container{
                    & > div { // because there is no identifier in the div 
                        display: flex;
                        align-items: center;
                        gap: 0.7rem;
                        padding-top: 7rem;
                        padding-bottom: 6.3rem;
                        justify-content: flex-start;
                    span{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        color: #4D5053;
                    }
                    }
                    
                }
                .all{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr; // 3 equal collumns using grid
                    grid-gap: 3.2rem;
                    margin-bottom: 6.8rem;
                }
                .btn-load-more{
                    display: table; // when you do not have height or width done
                    margin: 0 auto;
                }
            }
        }
    }
}