// Animation using keyframes
@keyframes floating{
    0%{
        transform: translateY(0); // move in the Y eixo 
    }
    66%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}